<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="contenedor wrapper">
        <div >
            <fieldset>
                <legend>DETALLES DEL USUARIO</legend>
                <!-- los datos son enviados a la direccion /aggusuario a traves del metodo post -->
                <form  action="/aggusuario" method="post">
                    <label>Cedula</label>
                    <input type="number" name="cedula" placeholder="Cedula" required>
                    <br>
                    <label>Apellidos</label>
                    <input type="text" name="apellidos" placeholder="apellidos" required>
                    <br>
                    <label>Nombres</label>
                    <input type="text" name="nombre" placeholder="nombre" required>
                    <br>
                    <label>Direccion</label>
                    <input type="text" name="direccion">
                    <label for="">Telefono</label>
                    <input type="number" name="numero">
                    <button type="submit" name="accion" value="Añadir" class="boton boton-verde enviar">Enviar</button>
                </form>
            </fieldset>
        </div>
    </section>
</body>
</html>